:root {
  font: 16px 'Roboto', sans-serif;

  /* Variables */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #29292e;
  --bg-secondary: #212125;
  --coral: #f28e86;
  --green: #b4f286;
  --blue: #86eaf2;
  --purple: #c486f2;
  --accent-color: var(--purple);
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5.25rem; /* 5.25x root font size */
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Login status */

#login-status {
  background-color: white;
  column-gap: 5px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
}

/* Navbar */

.navbar {
  background-color: var(--bg-primary);
  height: 100vh; /* 100% of window height */
  position: fixed; /* Stay fixed on scroll */
  transition: width 200ms ease;
  width: 5.25rem; /* Set navbar width equal to left margin */
  z-index: 99;
}

/* Expand on hover */
.navbar:hover {
  width: 16rem;
}

.nav-link {
  align-items: center;
  color: var(--text-primary);
  display: flex;
  filter: grayscale(100%) opacity(.7);
  height: 5rem;
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  filter: grayscale(0%) opacity(1);
}

/* Format icons */
.nav-link i {
  color: var(--accent-color);
  font-size: 36px;
  margin: 0 1.5rem;
}

/* Only show icons, not text */
.link-text {
  display: none;
  margin-left: 1rem;
}

/* Show text on hover */
.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 100%;
}

/* Navbar: change color buttons */

.color-buttons {
  margin-top: auto;
  width: 100%;
}

.color-buttons i {
  font-size: 36px;
  margin: 0 1.5rem;
}

#paint .nav-link:hover {
  background: none;
  color: var(--text-primary);
  filter: none;
  cursor: default;
}

.color-buttons .nav-link {
  filter: none; 
}

.color-buttons .nav-link:hover {
  filter: none; 
}

.color-buttons a:hover {
  cursor: pointer;
}

#white {
  color: var(--text-primary)
}

#coral {
  color: var(--coral)
}

#green {
  color: var(--green)
}

#blue {
  color: var(--blue)
}

#purple {
  color: var(--purple)
}

/* Intro/Welcome section */

.intro {
  margin: 0 100px 0 100px;
  opacity: 0;
  padding: 100px;
  transition: opacity ease-in var(--transition-speed);
}

.intro h2 {
  font-size: 64px;
  margin: 0 0 0 0;
}

.intro h3 {
  color: var(--text-primary);
  font-size: 64px;
  margin: 0 0 0 0;
}

.intro h4 {
  font: normal 20px 'Open Sans', sans-serif;
  margin: 0 0 0 0;
}

/* Site content sections */

.section-wrapper {
  color: var(--bg-primary);
  display: grid;
  margin: 0 100px 100px 100px;
  padding: 20px;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  border-top: 1px solid var(--accent-color);
  content: "";
  display: block;
  margin-top: .8em;
  width: 60%;
}

h1:before {
  float: left;
}

h1:after {
  float: right;
}

.left-line:after {
  display: none;
}

.right-line:before {
  display: none;
}

/* Site content sections: About me */

.aboutme-content {
  display: grid;
  grid-template-columns: auto auto;
}

.aboutme-photo img {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  height: 200px;
  padding: 3px;
  width: 200px;
}

.aboutme-text {
  padding: 20px;
}

.my-skills {
  columns: 2;
}

.my-skills li {
  list-style: none;
}

.my-skills li::before{
  color: var(--accent-color);
  content: "\25B7"; /* ▹ */
  font-size: 5px;
  margin-right: 10px;
}

.profile-links,
.profile-links a,
.profile-links a:visited {
  color: var(--accent-color);
  float: right;
}

.profile-links i {
  padding: 10px;
}

/* Site content sections: Experience */

.experience-content {
  align-items: center;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

#carousel-content {
  transition: var(--transition-speed);
}

#summary {
  padding: 0 20px 0 20px;
}

/* Buttons */

input[type=submit],
.btn {
  background-color: var(--accent-color);
  border-radius: 2px;
  border-width: 0;
  color: white;
  font-size: 20px;
  height: fit-content;
  margin: 30px auto;
  outline: none;
  padding: 10px;
  transition: filter var(--transition-speed);
  text-transform: uppercase;
  width: fit-content;
}

input[type=submit]:hover,
.btn:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#back-to-top-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  bottom: 20px;
  color: var(--bg-primary);
  cursor: pointer;
  font-size: 39px;
  height: 75px;
  opacity: 0;
  outline: none;
  position: fixed;
  right: 20px;
  transition: opacity ease-in-out var(--transition-speed);
  width: 75px;
}

#back-to-top-btn:hover {
  color: black;
}

/* Site content sections: Comments */

#comments-header {
  border-top: 1px solid var(--accent-color);
  padding-top: 20px;
  text-align: left;
}

#comments-header:before,
#comments-header:after {
  display: none;
}

.comment-width-wrapper {
  justify-self: center;
  max-width: 1000px;
  width: 100%;
}

#comment-msg {
  margin-bottom: 20px;
}

#add-comment {
  display: grid;
}

#comment-form {
  display: none;
}

textarea,
input {
  font-family: 'Open Sans', sans-serif;
}

#comments-container {
  list-style-type: none;
  padding-inline-start: 0;
}

#comments-container li{
  display: flex;
  margin-top: 10px;
}

.comment {
  display: flex;
}

.comment-content-wrapper {
  width: 90%;
}

.comment-content {
  flex-grow: 1;
}

.comment-name {
  font-weight: bolder;
}

.sentiment-icon {
  align-items: center;
  display: flex;
}

.sentiment-icon .material-icons{
  font-size: 40px;
}

.sentiment-icon a:visited {
  color: black;
}

.delete-btn-wrapper {
  width: 10%;
}

.delete-btn {
	background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.delete-btn:focus {
  outline: none;
}

/* Footer */

footer {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
